<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h3 class="wow zoomIn" data-wow-delay=".2s">Buku Rupakata</h3>
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Terbitan Terbaru Kami</h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">Hanya di rupakata kamu bisa memiliki buku-buku
                    keren <br>berikut, lihat-lihat yuukk!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="portfolio-btn-wrapper wow fadeInUp" data-wow-delay=".4s">
                <button class="portfolio-btn active" data-filter="*">Semua</button>
                <button class="portfolio-btn" data-filter=".puisi">Puisi</button>
                <button class="portfolio-btn" data-filter=".cerpen">Cerpen</button>
                <button class="portfolio-btn" data-filter=".fiksi">Fiksi</button>
                <button class="portfolio-btn" data-filter=".memoar">Memoar</button>
            </div>
        </div>
    </div>
    <div class="row grid">
        <a href="../../buku/serenade-titik-nol" id="buku-14" class="col-lg-4 col-md-6 grid-item branding fiksi">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-14.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Serenade Titik Nol</span>
                        <h4>Rp72.000</h4>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../buku/ruang-tunggu" id="buku-3" class="col-lg-4 col-md-6 grid-item branding fiksi">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-3.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Ruang Tunggu</span>
                        <h4>Rp85.000</h4>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../buku/perkara-ingatan" id="buku-2" class="col-lg-4 col-md-6 grid-item marketing cerpen">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-2.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Perkara Ingatan</span>
                        <h4>Rp85.000</h4>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../buku/sebuah-senja-yang-menyesakkan-pikiran" id="buku-4" class="col-lg-4 col-md-6 grid-item branding cerpen">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-4.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Sebuah Senja...</span>
                        <h4>Rp100.000</h4>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../buku/baliak-panggilan-pulang" id="buku-5" class="col-lg-4 col-md-6 grid-item puisi">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-5.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Baliak: Panggilan Pulang</span>
                        <h4>Rp48.000</h4>
                    </div>
                </div>
            </div>
        </a>
        <a href="../../buku/karena-anugerahmu-yang-kurindu" id="buku-8" class="col-lg-4 col-md-6 grid-item memoar">
            <div class="portfolio-item-wrapper">
                <div class="portfolio-img">
                    <img src="../assets/images/buku/buku-8.jpg" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-content">
                        <span>Karena AnugerahMu...</span>
                        <h4>Rp76.000</h4>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>