<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h3 class="wow zoomIn" data-wow-delay=".2s">FAQ</h3>
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Pertanyaan yang sering muncul</h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">
                    Berikut beberapa pertanyaan yang sering ditanyakan kepada kami.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <span class="title">Kenapa harus menerbitkan buku di Penerbit Rupakata?</span><i
                                class="lni lni-plus"></i>
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Rupakata dengan senang hati akan membantu penulis-penulis yang ingin menerbitkan
                                bukunya secara mandiri dengan cara yang mudah dan asyik.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <span class="title">Apa saja syarat menerbitkan naskah di Penerbit
                                Rupakata?</span><i class="lni lni-plus"></i>
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Rupakata menerima semua naskah (utuh bukan on going) baik Novel, Cerpen, Puisi,
                                maupun naskah Non Fiksi. Naskah ditulis dalam Ms Word dengan menggunakan font
                                Times New Roman 12, spasi 1.5.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 xs-margin">
            <div class="accordion" id="accordionExample2">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <span class="title">Bagaimana cara mengirim naskah ke Penerbit Rupakata?</span>
                            <i class="lni lni-plus"></i>
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <p>Naskah yang telah selesai ditulis disimpan dalam format .doc atau .docx kemudian
                                di dikirim melalui email ke: redaksirupakata@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <span class="title">Apa ada minimal cetak?</span>
                            <i class="lni lni-plus"></i>
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordionExample2">
                        <div class="accordion-body">
                            <p>Tidak ada minimal cetak, penulis boleh mencetak 1 (satu) eksemplar saja.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>