<!-- Start Footer Top -->
<div class="footer-top">
    <div class="container">
        <div class="inner-content">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer f-about">
                        <div class="logo">
                            <a href="../../index.html">
                                <img src="../../assets/images/logo/white-logo.svg" alt="#">
                            </a>
                        </div>
                        <p>Jl. Raya Waduk Cengklik KM 1<br>Gunungan RT. 01/04, Ngesrep,<br>Kec. Ngemplak, Kab. Boyolali <br>Jawa Tengah 57375</p>
                        <h4 class="social-title">Follow kami yuk:</h4>
                        <ul class="social">
                            <li><a target="_blank" href="https://www.facebook.com/bukurupakata"><i class="lni lni-facebook-fill"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/penerbitrupakata"><i class="lni lni-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.twitter.com"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a target="_blank" href="https://id.pinterest.com/penerbitrupakata/"><i class="lni lni-pinterest"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Footer Top -->
<!-- Start Copyright Area -->
<div class="copyright-area">
    <div class="container">
        <div class="inner-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <p class="copyright-text">© 2023 Rupakata - All Rights Reserved</p>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <p class="copyright-owner">Developed by <a href="https://github.com/yogiazy" rel="nofollow"
                            target="_blank">Yogiazy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area -->