<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dede Ariansya</title>
    <meta name="description" content="I'm Dede Ariansya, Full Stack Web Developer based in Makassar, Indonesia.">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://dedeard.my.id/">
    <meta property="og:title" content="Dede Ariansya">
    <meta property="og:description" content="I'm Dede Ariansya, Full Stack Web Developer based in Makassar, Indonesia.">
    <meta property="og:url" content="https://dedeard.my.id/">
    <meta content="https://dedeard.my.id/media/poster.jpg" property="og:image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Dede Ariansya">
    <script src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js" crossorigin="" nomodule=""></script>
    <style type="text/css" id="operaUserStyle"></style>
    <style type="text/css"></style>
    <script src="/_vercel/insights/script.js" defer="" data-sdkn="@vercel/analytics" data-sdkv="1.1.1"></script>
    <script src="/_vercel/speed-insights/script.js" defer="" data-sdkn="@vercel/speed-insights/next" data-sdkv="1.0.1"
        data-route="/"></script>
    <meta name="twitter:description"
        content="I'm Dede Ariansya, Full Stack Web Developer based in Makassar, Indonesia.">
    <meta name="twitter:image" content="https://dedeard.my.id/media/poster.jpg">
    <link rel="icon" href="/favicon.ico" media="(prefers-color-scheme: light)">
    <link rel="icon" href="/favicon-white.ico" media="(prefers-color-scheme: dark)">
    <meta name="next-size-adjust">
</head>