<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12">
            <div class="nav-inner">
                <!-- Start Navbar -->
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="../home">
                        <img src="../assets/images/logo/white-logo.svg" alt="Logo">
                    </a>
                    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="../home" aria-label="Toggle navigation">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="../buku" aria-label="Toggle navigation">Buku</a>
                            </li>
                            <li class="nav-item">
                                <a href="../paket-terbit" aria-label="Toggle navigation">Paket Terbit</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                    data-bs-target="#submenu-1-1" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">Pages</a>
                                <ul class="sub-menu collapse" id="submenu-1-1">
                                    <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                    <li class="nav-item"><a href="pricing.html">Our Pricing</a></li>
                                    <li class="nav-item"><a href="signin.html">Sign In</a></li>
                                    <li class="nav-item"><a href="signup.html">Sign Up</a></li>
                                    <li class="nav-item"><a href="reset-password.html">Reset Password</a>
                                    <li class="nav-item"><a href="mail-success.html">Mail Success</a></li>
                                    <li class="nav-item"><a href="404.html">404 Error</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item">
                                <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                    data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">Blog</a>
                                <ul class="sub-menu collapse" id="submenu-1-2">
                                    <li class="nav-item"><a href="../rubrik-pembaca">Rubrik Pembaca</a></li>
                                    <li class="nav-item"><a href="../essay">Essay</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="../kontak" aria-label="Toggle navigation">Kontak</a>
                            </li>
                        </ul>
                    </div> <!-- navbar collapse -->
                    <div class="button">
                        <a target="_blank" href="https://wa.me/6289514703132" class="btn">Hubungi Kami</a>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->