<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h3 class="wow zoomIn" data-wow-delay=".2s">Apa yang kami berikan?</h3>
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Jasa Penerbitan Kami</h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">Berikut pelayanan yang kami berikan guna <br>menunjang
                    karya
                    terbaik kamu.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-barcode"></i>
                </div>
                <h4 class="text-title">ISBN atau QRCBN</h4>
                <p>ISBN memberikan buku Anda identitas unik yang diakui secara internasional,
                    sementara QRCBN memudahkan pembaca mengakses informasi tambahan dengan satu pindai. </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-text-format"></i>
                </div>
                <h4 class="text-title">Editing</h4>
                <p>Editing membawa esensi tulisan ke permukaan serta membuat cerita menjadi berkembang.
                    Dengan senang hati kami membuat naskah menjadi lebih kuat, lebih jelas, dan lebih mampu memikat hati
                    pembaca.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-layout-alt-2"></i>
                </div>
                <h4 class="text-title">Layout</h4>
                <p>
                    Kami memastikan setiap elemen—dari font hingga margin—diatur dengan sempurna, menciptakan pengalaman
                    membaca yang tak terlupakan.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-law-book"></i>
                </div>
                <h4 class="text-title">Cover atau Ilustrasi</h4>
                <p>Kami memahami bahwa sampul adalah jendela pertama menuju dunia cerita Anda, dan ilustrasi adalah
                    jiwanya yang hidup.</p>
            </div>
        </div>
    </div>
</div>