<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h3 class="wow zoomIn" data-wow-delay=".2s">Apa yang kami berikan?</h3>
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Jasa Penerbitan Kami</h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">Berikut pelayanan yang kami berikan guna <br>menunjang karya
                    terbaik kamu.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-barcode"></i>
                </div>
                <h4 class="text-title">ISBN atau QRCBN</h4>
                <p>Invest in Bitcoin on the regular or save with one of the highest interest rates on the
                    market.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-keyword-research"></i>
                </div>
                <h4 class="text-title">Editing</h4>
                <p>Invest in Bitcoin on the regular or save with one of the highest interest rates on the
                    market.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-vector"></i>
                </div>
                <h4 class="text-title">Layout</h4>
                <p>Invest in Bitcoin on the regular or save with one of the highest interest rates on the
                    market.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
            <div class="single-service">
                <div class="main-icon">
                    <i class="lni lni-book"></i>
                </div>
                <h4 class="text-title">Cover atau Ilustrasi</h4>
                <p>Invest in Bitcoin on the regular or save with one of the highest interest rates on the
                    market.</p>
            </div>
        </div>
    </div>
</div>